.filters-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.limitPerPage-select {
  border: 1px var(--bg-header-color) solid;
  padding: 4px;
  font: var(--font-l);
  cursor: pointer;
}
