.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  background-color: var( --bg-color-contrast);
  gap: 5px;
}

.pagination-item {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(  --bg-color-light);
}

.pagination-item.current {
  background-color: var(  --button-active-color);
  cursor: default;
}