.filters-bar-container-row {
  display: flex;
  gap: 10px;
}

.filters-bar {
  display: flex;
  gap: 7px;
  justify-content: space-between;
  align-items: center;
  width: 55vw;
  flex-wrap: wrap;

  select {
    border: 1px var(--bg-header-color) solid;
    padding: 4px;
    font: var(--font-l);
    cursor: pointer;
  }

  .no-filter {
    color: var(--bg-header-color);
    font: var(--font-l);
    cursor: pointer;
  }

  .no-filter:hover,
  .no-filter:active {
    color: var(--button-active-color);
  }
}
