.return-button{
  cursor: pointer;
  height: 50px;
  width: 130px;
  border-radius: var(--border-radius);
  background-color: var(--button-primery-color);
  color: var(--light-text-color);
  font: var(--font-s);
}

.return-button:hover {
  background-color: var(--bg-header-color);
  color: var(--light-text-color);
}

.return-button:active{
  background-color: var(--button-active-color);
  color: var(--button-active-text-color);
}