.random-filter-label {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 40vw;
  justify-content: center;
  align-items: center;
}

.range-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rating-kp-input {
  width: 40vw;
}

.min-max-values{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.min-value,
.max-value {
  font-size: 0.8em;
}
