@use '../../../../styles/index.scss' as s;

.random-button {
  cursor: pointer;
  height: 20vh;
  width: 50vw;
  border-radius: var(--border-radius);
  background-color: var(--button-primery-color);
  color: var(--light-text-color);
  font: var(--font-xl);
  @include s.sm {
    font: var(--font-xl);
  }
}

.random-button:hover {
  background-color: var(--bg-header-color);
  color: var(--light-text-color);
}

.random-button:active {
  background-color: var(--button-active-color);
  color: var(--button-active-text-color);
}
